@using Models
@using OnlineShop.Controllers

@model IEnumerable<OnlineShop.Models.CartItem>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    var ProductIncluded = ViewBag.ProductIncluded as List<Models.EF.Product>;
}
@section jsFooter{
    <script src="/assets/client/js/controller/cartController.js"></script>
}
<style>
    .grid_1_of_4:first-child {
        margin-left: 15px;
    }
</style>
<div class="content">
    <div class="section group">
        @if (Model.Count() > 0)
        {
            <table class="table">
                <thead>
                    <tr>
                        <td>Mã Sản Phẩm</td>
                        <td>Tên Sản Phẩm</td>
                        <td>Ảnh Sản Phẩm</td>
                        <td>Số lượng</td>
                        <td>Đơn giá</td>
                        <td>Thành tiền</td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    @{
                        decimal total = 0;
                    }

                    @foreach (var item in Model)
                    {
                        //total += item.Total;
                        total += (item.Product.Price.GetValueOrDefault(0) * item.Quantity);
                        <tr>
                            <td>@item.Product.ID</td>
                            <td>@item.Product.Name</td>
                            <td><img src="@item.Product.Image" width="100" /></td>
                            <td><input type="text" class="txtQuantity" data-id="@item.Product.ID" value="@item.Quantity" /></td>
                            <td>@item.Product.Price.GetValueOrDefault(0).ToString("N0")</td>
                            <td>@((item.Product.Price.GetValueOrDefault(0) * item.Quantity).ToString("N0"))</td>
                            <td><a href="#" data-id="@item.Product.ID" class="btn-delete">Xoá</a></td>

                        </tr>

                    }
                    <tr>
                        <td colspan="5"><b>TỔNG TIỀN</b></td>
                        <td><b>@total.ToString("N0") VNĐ</b></td>
                    </tr>
                </tbody>

            </table>
            <button id="btnContinue" class="btn">Tiếp tục mua hàng</button>
            <button id="btnUpdate" class="btn">Cập nhật lại số lượng</button>
            <button id="btnDeleteAll" class="btn">Xoá giỏ hàng</button>
            <button id="btnPayment" class="btn">Thanh toán</button>
        }
        else
        {
            <span class="alter alert-danger">Chưa có sản phẩm nào trong giỏ hàng</span>
        }
    </div>
</div>
<div class="content_bottom" style="width:102%">
    <div class="heading">
        <h3>Sản phẩm đi kèm</h3>
    </div>
    <div class="see">
        <p><a href="/san-pham">Xem tất cả</a></p>
    </div>
    <div class="clear"></div>
</div>
@*sản phẩm đi kèm*@
<div class="section group " style="width:102%">
    @if (ProductIncluded != null)
    {
        foreach (var item in ProductIncluded)
        {
            var urlChiTiet = "/chi-tiet/" + item.MetaTitle + "-" + item.ID;
            //var urlGioHang = "/them-gio-hang?productId=@item.ID&quantity=1";
            <div class="grid_1_of_4 images_1_of_4">
                <a href="@urlChiTiet"><img src="@item.Image" alt=""></a>
                <h2>@item.Name</h2>
                <div class="price-details">
                    <div class="price-number">
                        <p><span class="rupees">@(item.Price.HasValue ? item.Price.Value.ToString("N0") : "Liên Hệ")</span></p>
                    </div>
                    <div class="add-cart">
                        <h4><a href="/them-gio-hang?productId=@item.ID&quantity=1">Thêm vào giỏ hàng</a></h4>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        }
    }

</div>
