@model Models.EF.Product
@{
    ViewBag.Title = Model.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
    var category = (Models.EF.ProductCategory)ViewBag.Category;
    var relatedProducts = (List<Models.EF.Product>)ViewBag.RelatedProducts;
}

<div class="content">
    <div class="content_top">
        <div class="back-links">
            <p><a href="/">Trang chủ</a> >>>> <a href="/san-pham/@category.MetaTitle-@category.ID">@category.Name</a></p>
        </div>
        <div class="clear"></div>
    </div>
    <div class="section group">
        <div class="cont-desc span_1_of_2">
            <div class="product-details">
                <div class="grid images_3_of_2">
                    <div id="container">
                        <div id="products_example">
                            <div id="products">
                                <div class="slides_container">
                                    <a href="#" target="_blank"><img src="@Model.Image" alt=" " /></a>
                                </div>
                                <ul class="pagination">
                                    <li><a href="#"><img src="images/thumbnailslide-1.jpg" alt=" " /></a></li>
                                    <li><a href="#"><img src="images/thumbnailslide-2.jpg" alt=" " /></a></li>
                                    <li><a href="#"><img src="images/thumbnailslide-3.jpg" alt=" " /></a></li>
                                    <li><a href="#"><img src="images/thumbnailslide-4.jpg" alt=" " /></a></li>
                                    <li><a href="#"><img src="images/thumbnailslide-5.jpg" alt=" " /></a></li>
                                    <li><a href="#"><img src="images/thumbnailslide-6.jpg" alt=" " /></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="desc span_3_of_2">
                    <h2>@Model.Name </h2>
                    <p>@Model.Description</p>
                    <div class="price">
                        <p>Price: <span>@(Model.Price.HasValue ? Model.Price.Value.ToString("N0") : "Liên Hệ")</span></p>
                    </div>
                    <div class="share-desc">
                        @*<div class="share">
                            <p>Chia sẽ :</p>
                            <ul>
                                <li><a href="#"><img src="images/facebook.png" alt="" /></a></li>
                                <li><a href="#"><img src="images/twitter.png" alt="" /></a></li>
                            </ul>
                        </div>*@
                        <div class="button">
                            <span><a style="text-decoration" href="/them-gio-hang?productId=@Model.ID&quantity=1">Thêm vào giỏ</a></span>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="wish-list">
                        <ul>
                            <li class="wish"><a href="#">Thêm vào yêu thích</a></li>
                            <li class="compare"><a href="#">So sánh</a></li>
                        </ul>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
            <div class="product_desc">
                <div id="horizontalTab">
                    <ul class="resp-tabs-list">
                        <li>Chi tiết</li>

                        <div class="clear"></div>
                    </ul>
                    <div class="resp-tabs-container">
                        <div class="product-desc">
                            @*<p>Lorem Ipsum is simply dummy text of the <span>printing and typesetting industry</span>. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, <span>when an unknown printer took a galley of type and scrambled</span> it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.<span> It has survived not only five centuries</span>, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>*@
                            @Html.Raw(Model.Detail)
                        </div>
                    </div>
                </div>
            </div>
            <script type="text/javascript">
                $(document).ready(function () {
                    $('#horizontalTab').easyResponsiveTabs({
                        type: 'default', //Types: default, vertical, accordion
                        width: 'auto', //auto or any width like 600px
                        fit: true   // 100% fit in a container
                    });
                });
            </script>
            <div class="content_bottom">
                <div class="heading">
                    <h3>Sản phẩm liên quan</h3>
                </div>
                <div class="see">
                    <p><a href="/san-pham">Xem tất cả</a></p>
                </div>
                <div class="clear"></div>
            </div>
            <div class="section group">                
                @foreach (var item in relatedProducts)
                {
                  
                    var urlChiTiet = "/chi-tiet/" + item.MetaTitle + "-" + item.ID;
                    //var urlGioHang = "/them-gio-hang?productId=@item.ID&quantity=1";
                    <div class="grid_1_of_4 images_1_of_4">
                        <a href="@urlChiTiet"><img src="@item.Image" alt=""></a>
                        <h2>@item.Name</h2>                        
                        <div class="price-details">
                            <div class="price-number">
                                <p><span class="rupees">@(item.Price.HasValue ? item.Price.Value.ToString("N0") : "Liên Hệ")</span></p>
                            </div>
                            <div class="add-cart">
                                <h4><a href="/them-gio-hang?productId=@item.ID&quantity=1">Thêm vào giỏ hàng</a></h4>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="rightsidebar span_3_of_1">
            @{ Html.RenderAction("ProductCategory", "Product");}       
        </div>
    </div>
</div>
